

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
.profile-card{
  width: 680px;
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, .7);
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  border-left: 1px solid #635F64;
  border-right: 1px solid #635F64;
  border-radius:20px 20px 20px 20px;
  
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("assets/background.jpg")no-repeat center center, fixed;
  background-size: cover;
  font-size: 20px;
  color: rgba(0,0,0,.8);
  margin: 20px;
}
.head, .links{
  text-align: center;
}
.content{
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
}
.head, .content{
  width: 90%;
  margin: 0 auto;
}

#head-background img{
  width: 680px;
  margin-left: auto;
  margin-right: auto;

  border-radius:20px 20px 0 0;
}
#head-profile img{
  height: 220px;
  width: 220px;
  border: 1px solid crimson;
  filter: grayscale(50%);
  border-radius: 50%;
}
#head-profile img:hover{
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
  filter: grayscale(20%);
}
.profile-image{
  margin-top: -110px;
}
h1{
  font-size: 30px;
  line-height: 1.5em;
  font-family: "Times New Roman", Times, serif;
}
.about{
  padding: 20px;
  text-align: center;
  font-size: 16px;
}
.head, .links{
  margin-bottom: 20px;
}
.links{
  letter-spacing: 20px;
  
}
ul{
  list-style-type: none
}
li{
  display: inline;
}
a{
  color: crimson;
}
.button{
  background-color: crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: 16px
}
#end{
  height: 29px;
  width: 680px;

  border-radius: 0 0 20px 20px;
}